<strong>Olá, {{manager}}.</strong>
<p>Um usuário acabou de fazer uma inscrição pelo Meetup. </p>
<p>
  <h1>Evento: {{title}}</h1>
  <small> <strong>Data:</strong> {{date}}</small> - <small><strong>Local:</strong> {{location}}</small> <br>
  <strong>Participante: </strong> {{user}} <br>
  <strong>E-mail:</strong> {{email}} <br>
  <br>
</p>
